<!DOCTYPE HTML>

<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  
<title>Home</title>
  <style>
    h1,h2{
    font-size : 40px;
    font-family :Roboto ;
    text-align : center;
    }
    #banner{
      width : 100%;
      height : 300px;
      object-fit : contain;
    }
    #container{
      max-width : 720px;
      margin : 0px auto;
    }
    .bodytext{
      font-family: Roboto;
      color : #4a4a4a;
    }
  </style>
</head>
<body>
  <div id="container">
    
  <h1>AmazingSufiyan Careers</h1>
  
  <img id="banner" src="static/cover.png" >
  <h2>About us</h2>
  
  <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tempor hendrerit tellus, quis varius eros ullamcorper at. Sed ut libero id nibh pharetra suscipit. Vestibulum sodales mollis libero id gravida. Maecenas euismod feugiat nisi, ut rhoncus libero cursus laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras dictum quam purus, dignissim auctor velit dapibus sed. Sed lacinia, risus in scelerisque euismod, erat turpis fringilla justo, vitae sagittis leo ex vel ligula. Suspendisse finibus odio commodo lobortis molestie. Vestibulum leo quam, tristique vel finibus ut, hendrerit at tellus. Integer porta, purus et ornare iaculis, felis nunc sodales sem, at feugiat ante lacus dignissim tellus.</p>

  <h2>Open Positions</h2>
  <p class="bodytext">TODO - Show the jobs here</p>
  <div style="text-align: center">
    
  <button>Contact Us</button>
  <p>Copyright 2023, AmazingSufiyan</p></p>
  </div>
  
  </div>

  
</body>
</html>